<li>
	{{name}}

	<button class="change-post" data-id="{{id}}" data-newpost="{{post}}">
		{{#if post}}User post!{{else}}User post{{/if}}
	</button>

	<button class="delete-post" data-id="{{this.id}}">DELETE!</button>
</li>
